<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <header th:replace="layout/plantilla :: header"></header>
    <body class="bg-body-secondary">
        <div class="Container">
            <div class="container mt-5">
                <!-- Creamos una fila para la lista de productos -->
                <div class="row py-3 justify-content-center">
                    <div class="col-md-3" th:each="product : ${productos}" th:if="${product.getCategorias.getNombre_categoria == 'Mujer'}" style="width:  350px;">
                        <!-- Creamos una tarjeta para cada producto -->
                        <div class="card mb-3">
                            <img class="card-img-top" th:src="@{'/imagenes/' + *{product.getNombre_imagen}}" alt="Producto" height="350px"/>
                            <div class="card-body">
                                <h5 class="card-title" th:text="${product.getNombre_producto}">Nombre del producto</h5>
                                <p class="card-text" th:text="${product.getDescripcion_producto}">Descripción del producto</p>
                                <a th:href="@{/detalle_producto/{id}(id=${product.getId})}" class="btn btn-primary">Ver detalle</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>