<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla:: head" ></head>

    <body class="bg-body-secondary">
        <header th:replace="layout/plantilla:: header"></header>
        
        <h2>Comentarios de otros usuarios</h2>
        <h1 ></h1> <!---->
        <table class="table table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Comentario</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="user : ${opinion}">
                    <tr>
                        <td th:text="${user.getId_opinion}"></td>
                        <td th:text="${user.getNombre}"></td>
                        <td th:text="${user.getCorreo}"></td>
                        <td th:text="${user.getComentario}"></td>
                    </tr>          
                </th:block>
            </tbody>
        </table>
        <!--<section th:replace="layout/crearOpinion :: creaOpin"></section>-->
    </body>
    
   
</html>
