<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/plantilla :: head">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>The Street Store</title>


  <!-- Bootstrap core CSS -->


</head>

<body>

  <!-- Navigation -->
  <header th:replace="layout/plantilla :: header"></header>

<!-- Page Content -->
<div class="container">


  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">
    Spring eCommerce <small>Usuarios</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/principal}">Home</a></li>
    <li class="breadcrumb-item active">Ver Usuarios</li>
  </ol>
  <h2>Usuarios</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        
      </tr>
    </thead>
    <tbody>
      <tr th:each="usuario:${usuarios}">
        <td th:text="${usuario.nombre}"></td>
        <td th:text="${usuario.email}"></td>
      </tr>       
    </tbody>
  </table>

</div>
<!-- /.container -->

<!-- Footer -->


</body>

</html>